Repository Mister-Gallardo/ideanick: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --cache-location ./node_modules/.cache/.eslintcache --fix, prettier --log-level warn --write

end 4 module
  backend/.lintstagedrc.yml
  node_modules/.cache/.eslintcache
  webapp/.lintstagedrc.yml
Due: prettier --log-level warn --write

end 6 module
  .lintstagedrc.yml
  node_modules/.cache/.eslintcache
Due: none

end 6 module
  .lintstagedrc.yml
Due: none

end 6 module
  .lintstagedrc.yml
  backend/src/index.ts
  backend/src/trpc.ts
  webapp/src/pages/ViewIdeaPage/index.tsx
Due: eslint --cache --cache-location ./node_modules/.cache/.eslintcache --fix, prettier --log-level warn --write

end 6 module
  .husky/pre-commit
  .lintstagedrc.yml
Due: none

end 6 module
  backend/src/index.ts
  backend/src/trpc.ts
  webapp/src/pages/ViewIdeaPage/index.tsx
Due: eslint --cache --cache-location ./node_modules/.cache/.eslintcache --fix, prettier --log-level warn --write

end 6 module
  backend/src/index.ts
Due: eslint --cache --cache-location ./node_modules/.cache/.eslintcache --fix, prettier --log-level warn --write

Stop tracking node_modules
  .gitignore
  .lintstagedrc.yml
  .vscode/settings.json
  pnpm-lock.yaml
  webapp/.stylelintrc.yml
  webapp/package.json
  webapp/src/components/layouts/Header.tsx
  webapp/src/components/layouts/Segment/Segment.tsx
  webapp/src/components/layouts/Segment/index.module.scss
  webapp/src/components/layouts/index.module.scss
  webapp/src/lib/routes/protectedRoutes.tsx
  webapp/src/lib/routes/routeHelpers.ts
  webapp/src/pages/AllIdeasPage/include.module.scss
  webapp/src/pages/AllIdeasPage/index.tsx
  webapp/src/pages/NewIdeaPage/index.module.scss
  webapp/src/pages/NewIdeaPage/index.tsx
  webapp/src/pages/ViewIdeaPage/include.module.scss
  webapp/src/pages/ViewIdeaPage/index.tsx
  webapp/src/styles/_mixins.scss
Due: eslint --cache --cache-location ./node_modules/.cache/.eslintcache --fix, prettier --log-level warn --write

add stylecheck
  .husky/pre-commit
  webapp/.stylelintrc.yml
  webapp/package.json
  webapp/src/components/Segment/index.module.scss
  webapp/src/components/Segment/index.tsx
  webapp/src/pages/AllIdeasPage/index.tsx
  webapp/src/pages/NewIdeaPage/index.tsx
  webapp/src/pages/ViewIdeaPage/index.tsx
Due: eslint --cache --cache-location ./node_modules/.cache/.eslintcache --fix, prettier --log-level warn --write

add stylecheck
  webapp/src/components/Segment/index.module.scss
Due: prettier --log-level warn --write

end form block
  backend/src/index.ts
  backend/src/lib/ideas.ts
  backend/src/lib/trpc.ts
  backend/src/router/createIdea/index.ts
  backend/src/router/createIdea/input.ts
  backend/src/router/getIdea/index.ts
  backend/src/router/getIdeas/index.ts
  backend/src/router/index.ts
  backend/src/trpc.ts
  eslint.config.mjs
  pnpm-lock.yaml
  webapp/package.json
  webapp/src/components/Alert/index.module.scss
  webapp/src/components/Alert/index.tsx
  webapp/src/components/Button/index.module.scss
  webapp/src/components/Button/index.tsx
  webapp/src/components/FormItems/index.module.scss
  webapp/src/components/FormItems/index.tsx
  webapp/src/components/Input/index.module.scss
  webapp/src/components/Input/index.tsx
  webapp/src/components/TextArea/index.module.scss
  webapp/src/components/TextArea/index.tsx
  webapp/src/lib/trpc.tsx
  webapp/src/pages/NewIdeaPage/index.tsx
  webapp/src/pages/ViewIdeaPage/index.tsx
Due: eslint --cache --cache-location ./node_modules/.cache/.eslintcache --fix, prettier --log-level warn --write

end form block
  webapp/src/components/TextArea/index.tsx
Due: eslint --cache --cache-location ./node_modules/.cache/.eslintcache --fix, prettier --log-level warn --write

try new lint staged
  .lintstagedrc.yml
Due: none

try new lint staged
  .gitignore
Due: none

try new lint staged
  .gitignore
  .lintstagedrc.yml
  package.json
  webapp/src/pages/AllIdeasPage/include.module.scss
Due: prettier --log-level warn --write

fix lint staged
  webapp/src/pages/AllIdeasPage/include.module.scss
Due: prettier --log-level warn --write

update package.json
  package.json
Due: none

add idea block
  backend/env.example
  backend/generated/prisma/edge.js
  backend/generated/prisma/index-browser.js
  backend/generated/prisma/index.d.ts
  backend/generated/prisma/index.js
  backend/generated/prisma/package.json
  backend/generated/prisma/schema.prisma
  backend/prisma/migrations/20251211142208_add_permissios_to_user_and_blocked_at_to_idea/migration.sql
  backend/prisma/migrations/20251211143213_add_blocked_at_to_idea/migration.sql
  backend/prisma/schema.prisma
  backend/src/index.ts
  backend/src/lib/env.ts
  backend/src/lib/model.ts
  backend/src/router/blockIdea/index.ts
  backend/src/router/blockIdea/input.ts
  backend/src/router/getIdea/index.ts
  backend/src/router/getIdeas/index.ts
  backend/src/router/index.ts
  backend/src/router/updateIdea/index.ts
  backend/src/scripts/presetDb.ts
  backend/src/utils/can.ts
  eslint.config.mjs
  webapp/src/components/Button/index.tsx
  webapp/src/lib/form.tsx
  webapp/src/pages/EditIdeaPage/index.tsx
  webapp/src/pages/ViewIdeaPage/include.module.scss
  webapp/src/pages/ViewIdeaPage/index.tsx
Due: eslint --cache --cache-location ./node_modules/.cache/.eslintcache --fix, prettier --log-level warn --write

add email in project
  backend/generated/prisma/edge.js
  backend/generated/prisma/index-browser.js
  backend/generated/prisma/index.d.ts
  backend/generated/prisma/index.js
  backend/generated/prisma/package.json
  backend/generated/prisma/schema.prisma
  backend/package.json
  backend/prisma/migrations/20251211194937_add_email_to_user/migration.sql
  backend/prisma/migrations/20251211195120_add_empty_migration/migration.sql
  backend/prisma/migrations/20251211195211_add_unique_email/migration.sql
  backend/prisma/schema.prisma
  backend/src/router/signUp/index.ts
  backend/src/router/signUp/input.ts
  backend/src/scripts/presetDb.ts
  pnpm-lock.yaml
  webapp/index.html
  webapp/package.json
  webapp/src/assets/icons/heart.svg
  webapp/src/assets/react.svg
  webapp/src/lib/pageWrapper.tsx
  webapp/src/main.tsx
  webapp/src/pages/AllIdeasPage/index.tsx
  webapp/src/pages/EditIdeaPage/index.tsx
  webapp/src/pages/EditProfilePage/index.tsx
  webapp/src/pages/NewIdeaPage/index.tsx
  webapp/src/pages/SignInPage/index.tsx
  webapp/src/pages/SignUpPage/index.tsx
  webapp/src/pages/ViewIdeaPage/include.module.scss
  webapp/src/pages/ViewIdeaPage/index.tsx
  webapp/src/vite-env.d.ts
  webapp/vite.config.ts
Due: eslint --cache --cache-location ./node_modules/.cache/.eslintcache --fix, prettier --log-level warn --write

end emails
  backend/env.example
  backend/package.json
  backend/src/emails/_footer.mjml
  backend/src/emails/_head.mjml
  backend/src/emails/_header.mjml
  backend/src/emails/ideaBlocked.mjml
  backend/src/emails/welcome.mjml
  backend/src/lib/_dirname.ts
  backend/src/lib/emails.ts
  backend/src/lib/env.ts
  backend/src/router/blockIdea/index.ts
  backend/src/router/signUp/index.ts
  package.json
  pnpm-lock.yaml
Due: eslint --cache --cache-location ./node_modules/.cache/.eslintcache --fix, prettier --log-level warn --write

Path conditions:
  eslint --cache --cache-location ./node_modules/.cache/.eslintcache --fix: any of: {backend,webapp}/**/*.{ts,tsx,js,jsx}
  prettier --log-level warn --write: (any of: {backend,webapp}/**/*.{ts,tsx,js,jsx}) or (any of: {backend,webapp}/**/*.{json,yml,scss})
